.start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #066806;
    margin-bottom: 10px;
}

p {
    max-width: 600px;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #066806;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #000000;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
